#education{
.edu{

    .content:before {
        border: 2px solid #00d7bb;
        border-radius: 50%;
        color: #00d7bb;
        content: "\f19d";
        font-family: fontawesome;
        font-size: 25px;
        height: 70px;
        left: 50%;
        line-height: 65px;
        position: absolute;
        text-align: center;
        top: -70px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 70px;
    }
}
}
.dot_start svg{
    border: 2px solid #00d7bb;
    border-radius: 50%;
    color: #00d7bb; 
     font-size: 25px;
    height: 50px;
    line-height: 65px;   
    text-align: center;  
    width: 50px;
    padding: 20px;    
}
.dot:after{
content: " ";
position: absolute;
top: -21%;
left: 50%;
width: 1%;
height: 70px;
background-color: #00d7bb;
}
.dot:before{
    content: " ";
    position: absolute;
    bottom:0;
    left: 50%;
    width: 1%;
    background-color: #00d7bb;
    height: 25%;
}
.dot .big{
    width: 30px;
    height: 30px;
    border: solid 3px #00d7bb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    div{
        border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #00d7bb;
    }
}